<h1>Topic</h1>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th></th>
    <th>Level</th>
    <th></th>
    <th></th>
  </tr>

  <%= render 'topic' %>
  
</table>

<br />

<%= link_to "New topic", new_topic_path(:parent_id => @topic) %>




