<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Document Link</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_topic.documents.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= link_to "Download Doc", doc.attachment_url %></td>
        <td><h5>
            <%= link_to fa_icon('pencil-square-o'), edit_admin_document_path(doc) %>
            <%= link_to fa_icon('trash'), [:admin, doc], method: :delete, data: { confirm: 'Are you sure?' } %></h5></td>
      </tr>
    <% end %>
  </tbody>
</table>