<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <% if topic.present? %>
    <h2><%= topic.title %></h2>
  <% end %>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= button_to 'New Folder', new_admin_topic_path, class: "btn btn-sm btn-outline-secondary", method: :get, params: {parent_id: topic } %>
      <%= button_to 'New Document', new_admin_document_path, class: "btn btn-sm btn-outline-secondary", method: :get, params: {parent_id: topic } %>
    </div>
  </div>
</div>